.cafe-cashier-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--ion-color-dark);
    .panels {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 70vh;
        padding: 1rem;
        gap: 1rem;
        .menu-panel {
            display: grid;
            width: 70%;
            height: 100%;
            grid-template-columns: 1fr 1fr 1fr;
            grid-auto-rows: 120px;
            overflow: scroll;
            gap: 1rem;
            .category-btn,
            .item-btn {
                background-color: var(--ion-color-dark-tint);
                color: var(--ion-color-dark-contrast);
                font-size: 1.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0.5rem;
                box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
                cursor: pointer;
            }
            .item-btn {
                display: flex;
                flex-direction: column;
                background-color: var(--ion-color-medium);
                color: var(--ion-color-medium-contrast);
                &.back-btn {
                    background-color: var(--ion-color-danger);
                    color: var(--ion-color-danger-contrast);
                }
                &.soldOut {
                    cursor: not-allowed;
                    background-color: var(--ion-color-dark);
                    color: var(--ion-color-dark-tint);
                }
                .soldout-text {
                    color: red;
                }
            }
        }
        .selected-items {
            display: flex;
            flex-direction: column;
            width: 30%;
            height: 100%;
            overflow: scroll;
            background-color: var(--ion-color-dark-shade);
            padding: 1rem;
            border-radius: 1rem;
            color: var(--ion-color-dark-contrast);
            label {
                margin-bottom: 0.5rem;
            }
            .selected-item {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                cursor: pointer;
                border-radius: 0.3rem;
                &:hover {
                    background-color: var(--ion-color-medium);
                    color: var(--ion-color-medium-contrast);
                }
                .remove-btn {
                    margin: 0.5rem;
                }
                .name {
                    margin-right: auto;
                }
                .unit-price {
                    margin-right: 0.3rem;
                }
            }
        }
    }
    .checkout-area {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 30vh;
        padding: 1rem;
        gap: 1rem;
        .total-panel {
            display: flex;
            width: 70%;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: var(--ion-color-dark-shade);
            padding: 1rem;
            border-radius: 1rem;
            color: var(--ion-color-dark-contrast);
            flex-wrap: wrap;
            .total {
                color: var(--ion-color-danger);
                font-size: 3rem;
            }
            .takeaway-toggle {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
        }
        .action-panel {
            width: 30%;
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            gap: 0.5rem;
            button {
                border-radius: 0.5rem;
                background-color: var(--ion-color-warning);
                color: var(--ion-color-warning-contrast);
                font-size: 1.2rem;
                font-weight: bold;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                &.reset {
                    background-color: var(--ion-color-danger);
                    color: var(--ion-color-danger-contrast);
                }
            }
        }
    }
}
