.order-queue-container{
    width: 100%;
    height: 100%;
    background-color: var(--ion-color-dark);
    color: var(--ion-color-dark-contrast);
    display: flex;
    flex-direction: column;
    .queue-header{
        display: flex;
        width: 100%;
        height: 10%;
        div{
            display: flex;
            width: 50%;
            height: 100%;
            font-size: 2.6rem;
            justify-content: center;
            justify-items: center;
            align-items: center;
            &.collect-header{
                background-color: var(--ion-color-dark-shade);
            }
        }
    }
    .queues{
        display: flex;
        width: 100%;
        height: 90%;
        flex-direction: row;
        .queue{
            width: 50%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: max-content;
            gap: 0.5rem;
            padding: 0.5rem;
            &.ready-queue{
                background-color: var(--ion-color-dark-shade);
            }
            .order{
                height: fit-content;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                padding: 1rem;
                background-color: var(--ion-color-dark-tint);
                *{
                    margin: 0;
                    padding: 0;
                    list-style: none;
                }
                .order-number{
                    font-size: min(4vw, 48px);
                    margin-bottom: 2rem;
                }
                li{
                    margin-bottom: 1rem;
                }
                button{
                    padding: 0.5rem;
                    font-size: 1.2rem;
                    &.ready-btn{
                        background-color: var(--ion-color-warning);
                        color: var(--ion-color-warning-contrast);
                    }
                    &.collected-btn{
                        background-color: var(--ion-color-success);
                        color: var(--ion-color-success-contrast);
                    }
                }
            }
        }
    }
}