.react-calendar {
  width: 100%;
  border: 0px;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #fff;
  color: #222;
}

.react-calendar .react-calendar__tile {
  min-height: 5vh;
  color: #222;
}

.react-calendar button, .react-calendar .react-calendar__navigation__label__labelText {
  color: #222;
}

.react-calendar .react-calendar__month-view__days__day--weekend, .react-calendar .calendar-ph-tile {
  color: red;
}

.react-calendar .react-calendar__tile--active {
  color: #fff;
}
/*# sourceMappingURL=calendar.css.map */