.react-calendar{
    width: 100%;
    border: 0px;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #fff;
    color: #222;
    .react-calendar__tile{
        min-height: 5vh;
        color: #222;
    }
    button, .react-calendar__navigation__label__labelText{
        color: #222;
    }
    .react-calendar__month-view__days__day--weekend, .calendar-ph-tile{
        color: red;
    }
    .react-calendar__tile--active{
        color: #fff;
    }
}