body{
    background-color: #eee;
}
ion-app{
    max-width: 1440px;
    margin: auto;
}
.alert-delete span{
    color: var(--ion-color-danger);
    font-weight: bold;
}
.overlay-spinner{
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    position: absolute;
    opacity: 0.6;
}

ion-datetime.custom-pickers{
    --background: #888;
}