.maxHeight {
    height: 100%;
}
.footer {
    height: 20vh;
    background: white;
    border-top: solid 1px #ccc;
}
.panelLeft {
    overflow: auto;
    max-height: 100%;
}
.panelRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-left: solid 1px #ccc;
    max-width: 420px;
}

.full-w {
    width: 100%;
}

.flex-column-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
