.toggleContainer {
  /* border-bottom: solid 1px #ddd; */
}
.toggle {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  cursor: pointer;
  transition: all 0.4s;
  border-radius: 4px 4px 0 0;
}
.active {
  background: var(--activeToggle);
  color: #333;
  border: solid 1px #ddd;
  border-bottom: solid 1px #ddd0;
}
.inActive {
  background: var(--inActiveToggle);
  color: #bbb;
  border-bottom: solid 1px #ddd;
}
.qrCodeButton {
  width: 100%;
  display: flex;
  justify-content: center;
}
.modalContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.infoLayout {
  display: flex;
  flex-direction: column;
}
.infoLayout ion-text {
  margin-bottom: 8px;
}
.verifiedTag {
  background: var(--verified);
  font-weight: 600;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.unverifiedTag {
  background: var(--unverified);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  border-radius: 4px;
  color: #fff;
}
.pointer {
  cursor: pointer;
}
.profileImage {
  height: 360px;
  max-height: 360px;
}
