.chipContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.chipContainer .chip {
  width: 50%;
  justify-content: center;
  transition: all 0.4s;
}
.chip {
  border: solid 1px #ddd;
  box-shadow: 0 2px 2px #0002;
}
