.dlButton {
    color: #fff;
    background: #222;
    text-decoration: none;
    height: 1.3em;
    cursor: pointer;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 24px 8px;
    margin: 16px 0;
    flex: 1;
    box-sizing: border-box;
}

.disabled {
    background: #919294;
    color: #fff;
    pointer-events: none;
}

.tableBorder {
    border: solid 1px #aaa;
    border-radius: 0;
}
