.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column-ss {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pointer {
  cursor: pointer;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.clearButton {
  width: 100%;
  height: 40px;
  margin: 8px 0;
}
.qrModalContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
