.imageContainer {
    height: 176px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.imageContainer img {
    object-fit: contain;
    max-height: 100%;
}
.searchFields {
    height: 124px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ots {
    position: absolute;
    width: 100%;
    opacity: 0.85;
}
.required {
    position: absolute;
    right: 0;
    top: 0;
    color: red;
}
