@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

html {
    --activeToggle: #fff;
    --inActiveToggle: #eee;
    --verified: #84ff9f;
    --unverified: #ff8484;
}
* {
    font-family: "Montserrat", sans-serif;
}
.box-input {
    border: 1px solid var(--ion-color-dark);
    border-radius: 12px;
    margin-bottom: 12px;
}
.m-0 {
    margin: 0;
}
.p-0 {
    padding: 0;
}
.border {
    border: solid 1px #aaa;
    border-radius: 4px;
}
.br0 {
    border-radius: 0;
}
.flex-column-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#reader__scan_region > video {
    width: 100% !important;
    min-width: 320px !important;
}
